:root{
    --grid: #146C94;
    --path: #FBFFB1;
    --bg: #146C94;
    --findColor-1:rgb(0, 51, 102);
    --findColor-2:rgb(8, 181, 109);
    --findColor-3:rgb(58, 167, 165);
    --findColor-4:rgb(49, 169, 105);
    --findColor-5:rgb(70, 182, 180);
}